<app-navbar></app-navbar>
<div class="p-2">
  <div class="container p-3 mb-4">
      <div class="p-4">
          <div class="card bg-light">
              <div class="row">
                  <div class="col-5 border p-3 m-2 ms-4">
                    image
                  </div>
                  <div class="col-6 ps-3 p-4">
                      <h4 class="pb-3">
                        prodcut name
                      </h4>
                    <h5 class="pb-3">
                      Description:-
                      <p style="line-height: 35px; padding-left:20px; margin-top: 10px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                         Eaque unde amet suscipit deserunt nostrum quidem, provident voluptate,<br>
                          expedita dolore sapiente modi ab doloremque obcaecati est quaerat ex rerum nam voluptates.<br>
                      </p>
                    </h5>
                    <h5 class="pb-5">
                      prodcut price
                    </h5>
                    <p>
                      <button class="btn btn-outline-secondary">
                        add to cart
                      </button>
                      <button class="btn btn-outline-warning mx-2">
                        buy now
                      </button>
                    </p>
                  </div>
              </div>
          </div>

          <div class="border mt-2 p-4 rounded">
              <div class="pb-2">
                 <textarea name="comment" rows="3" placeholder="leave comment" class="form-control ps-3 pt-2"></textarea>
                  <button class="btn btn-outline-secondary mt-3 ms-3">
                    Comment
                  </button>
              </div>
              <div class="p-3">
                  <div class="row">
                    <div class="col-12 mb-1 border-bottom mb-2">
                      Comments 1
                    </div>
                      <div class="col-2">
                          User Name
                      </div>
                      <div class="col-10">
                        test comment
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<app-footer></app-footer>
