<app-navbar></app-navbar>
<div class="">
  <div class="container p-3 mt-3 mb-3 ps-5">
    <div class="row ps-5 ms-4">
      <div class="col-3 m-2 border rounded p-3 bg-light">
        <a routerLink="product-details/1" class="nav-link">
          <div class="rounded m-2 p-1">
            <img
              src="http://localhost:4200/favicon.ico"
              class="rounded mx-auto d-block"
              alt="..."
            />
          </div>
          <span class="ps-3 pb-3"> product name </span>
          <p class="ps-3 pt-2">100</p>
        </a>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>

      <div class="col-3 m-2 border rounded p-3 bg-light">
        <div class="rounded m-2 p-1">
          <img
            src="http://localhost:4200/favicon.ico"
            class="rounded mx-auto d-block"
            alt="..."
          />
        </div>
        <span class="ps-3 pb-3"> product name </span>
        <p class="ps-3 pt-2">100</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
