<nav class="navbar fixed-top bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-white">Navbar</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class="me-3">
      <a class="text-white" routerLink="/login">Login </a>
    </div>
  </div>
</nav>

<div class="menu-bar">
  <div class="row">
    <ul class="pt-2" id="main-nav-section">

      <li>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Category
        </a>
        <!-- <ul class="dropdown-menu">
          <li><a class="dropdown-item">one</a></li>
          <li><a class="dropdown-item">two</a></li>
          <li><a class="dropdown-item">three</a></li>
        </ul> -->
        <ul class="dropdown-menu" >
          <li *ngFor="let category of categories"><a class="dropdown-item" href="#">{{category.name}}</a></li>
        </ul>
      </li>
      </ul>
      <!-- <ul class="text-white" *ngFor="let category of categories">
        <li><a class="text-white" href="#">{{category.name}}</a></li>
      </ul> -->
  </div>
</div>
